.header{
    height: 15vh;
    width: 100%;
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 18vw;
    display: flex;
    justify-content: space-around;
    align-items:center;

    img{width: 3vw;
        padding-bottom:20px ;}
        margin-left: 1%;
}

.logo:hover{
    color: #005695;
}
 
h1{
color:white;
font-size: 20px;
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
}

h1:hover{ 
    color:#005695;
    cursor: pointer;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 10vh;
}

   .link{
    color: #fff;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
   }

   .link:hover{
    color: #001B2F;
   }

    img { width: 100%;}

   .BarradeBusca{ border: solid  #fff;
    border-radius: 20px;
    margin-right: 1%;
    height: 5vh;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    input{
    background-color: transparent;
    border: none;
    width: 60%;
    height: 5vh;
    outline: none;

    &::placeholder{
        color: #fff;
        font-size: 15px;
    }
   
}
 button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

}
@media (max-width: 780px){

    header{
        flex-direction: column;
        width: 90%;

        .logo{
            width: 60%;
            height: 7vh;
            justify-content: space-around;
            align-items: center;

            img{width: 9vw;
            margin-top: 2%;}
        }

        nav{
            width: 95%;
        }

        ul{
        width: 95%;
        height: 5vh;
    }

        .BarradeBusca{
            display: none;
        }
    }
}