.livrosdoados{
    border: solid 3px #005695;
    border-radius: 20px;
    height: 35vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img{
     width: 8vw;}

    div{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 15px;}
}

.principal{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{text-align: center;}
}

.containercards{
    width: 85%;
    height: 80vh;
}
@media (max-width: 780px){

    .livrosdoados{
        border: solid #005695;
        width: 50%;

        img{width: 20vw;}
    }

    .principal{
        height: 80vh;
    }

    .containercards{ 
        height: 65vh;
        display: flex;
        justify-content: center;
    }

    h2{
        font-size: 30px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight:700 weight;
        font-style: normal;
    }
}